 *{
    margin: 0;
    box-sizing: border-box;
    padding:0;

} 


body{
    
   
    font-family: 'Montserrat', sans-serif; 
    color: black;

 
 
}

.wrapper-header{
    display: grid;

}

.nav-link{  
    color:black;
    text-transform: uppercase;
}
.nav-link:hover{
    text-decoration: none;
    color:red;
    text-shadow: 1px 1px #FF0000;

}

